<img src='<%=@image.url%>'/>
<p>
  <strong>Url:</strong>
  <%= @image.url %>
</p>

<p>
  <strong> Alt: </strong>
  <%= @image.alt %>
</p>

<p>
  <strong> Caption: </strong>
  <%= @image.caption %>
</p>

<%= link_to 'Add another image', new_image_path %>
<%= link_to 'Image Gallery', images_path %>