<img src='<%=@image.url%>'/>
<p>
  <strong>Url:</strong>
  <%= @image.url %>
</p>

<p>
  <strong> Alt: </strong>
  <%= @image.alt %>
</p>

<p>
  <strong> Caption: </strong>
  <%= @image.caption %>
</p>

<%= link_to 'Edit this image', edit_image_path(@image) %>
<%= link_to 'Delete this image', image_path(@image),
                method: :delete,
                data: { confirm:"Are you sure?!?!?!" }%>
<%= link_to 'Add another image', new_image_path %>
<%= link_to 'Image Gallery', images_path %>